@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');
@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;

html { overscroll-behavior: none; }

.loading-indicator:before {
  content: '';
  background: #00000080;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: ' ';
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 10010;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0474bf; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

* {
  font-family: 'Toss Product Sans', serif;
}

.mobile_container {
  position: relative;
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  height: 100dvh;
  overflow-y: scroll;
}

.main_bg_sidebar {
  background: rgb(241, 236, 206);
  background: linear-gradient(90deg, rgba(241, 236, 206, 1) 0%, rgba(242, 235, 197, 1) 100%);
}

.main_bg_page {
  background: rgb(242, 235, 197);
  background: linear-gradient(90deg, rgba(242, 235, 197, 1) 0%, rgba(245, 230, 146, 1) 100%);
}

.main_shadow_header {
  /* box-shadow: 3px 0 5px -2px rgba(0, 0, 0, 0.3), -2px 0 5px -2px rgba(0, 0, 0, 0.3); */
  border: 1px solid rgba(255, 255, 255);
}

.main_shadow {
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.main_glass {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255);
}

.glass {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255);
}
